<div class="modal-header text-center">
  <h2 class="modal-title"><i class="fa fa-th-list"></i>
    <%= t "view.admin.destinations.chinhsua" %>
  </h2>
</div>
<%= form_for [:admin, @destination],
  html: {multipart: true} do |destination| %>
  <%= render "shared/error_messages", object: destination.object %>
  <table class="table table-user-information">
    <tbody>
      <tr>
        <td>
          <%= destination.label t "view.admin.destinations.ten" %>
        </td>
        <td><%= destination.text_field :name, class: "form-control",
          required: true %>
        </td>
      </tr>
      <tr>
        <td><%= t "view.admin.destinations.hinhanhcu" %></td>
        <td>
          <%= image_tag destination.object.image.url,
            class: "image_user" %>
        </td>
      </tr>
      <tr>
        <td>
          <%= destination.label t "view.admin.destinations.hinhanh" %>
        </td>
        <td>
          <span class="picture">
            <%= destination.file_field :image,
              accept: Settings.accept_image %>
          </span>
        </td>
      </tr>
      <tr>
        <td>
          <%= destination.label t "view.admin.destinations.gioithieu" %>
          <br>
        </td>
        <td>
          <%= destination.text_area :description,
            class: "textarea-destination" %>
        </td>
      </tr>
      <tr>
        <td>
          <%= destination.label t "view.admin.destinations.noidung" %>
          <br>
        </td>
        <td>
          <%= destination.cktext_area :content,
            class: "textarea-destination" %>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="submit-add-destination">
    <%= destination.submit t("view.admin.destinations.luuthaydoi"),
      class: "btn btn-primary" %>
  </div>
<% end %>
