<div class="modal-header text-center">
  <h2 class="modal-title"><i class="fa fa-th-list"></i>
    <%= t "view.admin.events.chinhsua" %>
  </h2>
</div>
<%= form_for [:admin, @event], html: {multipart: true} do |event| %>
  <%= render "shared/error_messages", object: event.object %>
  <table class="table table-user-information">
    <tbody>
      <tr>
        <td>
          <%= event.label t "view.admin.events.ten" %>
        </td>
        <td>
          <%= event.text_field :title, class: "form-control", required: true %>
        </td>
      </tr>
      <tr>
        <td><%= event.label t "view.admin.events.tinhthanhpho" %></td>
        <td><%= event.collection_select :destination_id,
          @destinations, :id, :name, {prompt: false}, {class: "form-control"} %>
        </td>
      </tr>
      <tr>
        <td><%= event.label t "view.admin.events.thoigianbatdau" %></td>
        <td>
          <%= event.text_field :time_start, data: {provide: "datepicker"},
            class: "datepicker" %>
        </td>
      </tr>
      <tr>
        <td><%= event.label t "view.admin.events.thoigianketthuc" %></td>
        <td>
          <%= event.text_field :time_end, data: {provide: "datepicker"},
            class: "datepicker" %>
        </td>
      </tr>
      <tr>
        <td><%= t "view.admin.events.old_image" %></td>
        <td>
          <%= image_tag event.object.image.url, class: "image_user" %>
        </td>
      </tr>
      <tr>
        <td>
          <%= event.label t "view.admin.events.hinhanh" %>
        </td>
        <td>
          <span class="picture">
            <%= event.file_field :image, accept: Settings.accept_image %>
          </span>
        </td>
      </tr>
      <tr>
        <td>
          <%= event.label t "view.admin.events.noidung" %>
          <br>
        </td>
        <td>
          <%= event.cktext_area :content, class: "textarea-event" %>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="submit-add-destination">
    <%= event.submit t("view.admin.events.luuthaydoi"),
      class: "btn btn-primary" %>
  </div>
<% end %>
