<% provide :title, t("view.admin.users.quantrivien") %>
<div class="content-header content-header-media">
  <div class="header-section">
    <div class="row">
      <div class="col-md-4 col-lg-6 hidden-xs hidden-sm">
        <h1>
          <%= t "welcome" %> <strong><%= t "admin" %></strong><br><small>
          <%= t "you_look_awesome" %></small>
        </h1>
      </div>
    </div>
  </div>
  <%= image_tag "admin/header.jpg", class: "animation-pulseSlow" %>
</div>
<div id="page-content">
  <div class="content-header">
    <ul class="nav-horizontal text-center">
      <li class="active">
        <%= link_to admin_root_path do %>
          <i class="fa fa-home"></i> <%= t "home" %>
        <% end %>
      </li>
      <li>
        <a href="javascript:void(0)"></a>
      </li>
      <li>
        <a href="javascript:void(0)"></a>
      </li>
      <li class="active">
        <%= link_to admin_destinations_path do %>
          <i class="gi gi-google_maps"></i> <%= t "khamphavietnam" %>
        <% end %>
      </li>
      <li>
        <a href="javascript:void(0)"></a>
      </li>
      <li>
        <a href="javascript:void(0)"></a>
      </li>
      <li class="active">
        <%= link_to admin_locations_path do %>
          <i class="gi gi-google_maps"></i> <%= t "diadiemphuot" %>
        <% end %>
      </li>
      <li>
        <a href="javascript:void(0)"></a>
      </li>
      <li>
        <a href="javascript:void(0)"></a>
      </li>
      <li>
        <a href="javascript:void(0)"></a>
      </li>
      <li class="active">
        <%= link_to admin_users_path do %>
          <i class="gi gi-group"></i>
          <%= t "view.admin.layouts.quanlythanhvien" %>
        <% end %>
      </li>
      <li>
        <a href="javascript:void(0)"></a>
      </li>
      <li>
        <a href="javascript:void(0)"></a>
      </li>
      <li>
        <a href="javascript:void(0)"></a>
      </li>
      <li class="active">
        <%= link_to admin_events_path do %>
          <i class="gi gi-calendar"></i></i> <%= t "sukien" %>
        <% end %>
      </li>
      <li>
        <a href="javascript:void(0)"></a>
      </li>
      <li>
        <a href="javascript:void(0)"></a>
      </li>
      <li class="active">
        <%= link_to "#" do %>
          <i class="gi gi-list"></i> <%= t "name" %>
        <% end %>
      </li>
      <li>
        <a href="javascript:void(0)"></a>
      </li>
      <li>
        <a href="javascript:void(0)"></a>
      </li>
      <li class="active">
        <%= link_to "#" do %>
          <i class="gi gi-pencil"></i> <%= t "name" %>
        <% end %>
      </li>
    </ul>
  </div>
</div>
