<div class="banner-grid">
  <div id="visual">
    <div class="slide-visual">
      <ul class="slide-group">
        <li>
          <%= image_tag "home/slide1.jpg", class: "img-responsive-slide" %>
        </li>
        <li>
          <%= image_tag "home/slide2.jpg", class: "img-responsive-slide" %>
        </li>
        <li>
          <%= image_tag "home/slide3.jpg", class: "img-responsive-slide" %>
        </li>
      </ul>
      <div class="script-wrap">
        <ul class="script-group">
          <li>
            <div class="inner-script">
              <%= image_tag "home/slide1.jpg",
                class: "img-responsive-subslide" %>
            </div>
          </li>
          <li>
            <div class="inner-script">
              <%= image_tag "home/slide2.jpg",
                class: "img-responsive-subslide" %>
            </div>
          </li>
          <li>
            <div class="inner-script">
              <%= image_tag "home/slide3.jpg",
                class: "img-responsive-subslide" %>
            </div>
          </li>
        </ul>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
